{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Catalog App</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {%if username is not none %}
            <li><a><span class="glyphicon glyphicon-user"></span> You are logger as {{username}}</a></li>
            <li><a href="{{ url_for( 'gdisconnect' ) }}"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>

            {% else %}
                <li><a href="{{ url_for( 'showLogin' ) }}"><span class="glyphicon glyphicon-user"></span>Login</a></li>


            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}