{% extends "base.html" %}

{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="jumbotron">
        <form action="#" method="post">
            {% include "item_edit.html" %}
            {% if username is not none %}
            <row>
                <button type="submit" class="btn btn-success">
                    Create
                </button>
                <button type="button" class="btn btn-default"
                        onclick="window.location.href='{{ url_for('home') }}';">
                    Cancel
                </button>

            </row>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}